@media only screen and (orientation:landscape) {
    
    * {
        padding: 0;
        border: 0;
        margin: 0;
    }

    body { 
        width: 100vw;
        height: 100vh;
    }

    .header__nav {
        width: 100vw;
        height: 30px;
        background-color:  #48e;

    }

   .header__nav-content1 {

    } 
    
    .header__nav-content2 {
        
    }

    .main__content {

    }
}
