@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;
    border: 0;
    padding: 0;
    font-family: "Open Sans", "Roboto", sans-serif;

}


:root {
    --main-color: #CCC;
    --black: #000;
    --main-color-shadow: #999;
    --white: #f8f9fa;
}



html {
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
    width: 100vw;
    height: 50vh;
    user-select: none;
    background-color: var(--main-color);
}

@media only screen and (orientation: landscape)  {
    .header__main{
        display: inline-block;
        box-sizing: content-box;
        width: 20vw;
        height: 100vh;
        background-color: var(--main-color);
    }

    .user__information {
        height: 25%;
        display: flex;
        flex-direction: column;
        align-items: center; 
    }

    .title {
        font-size: 2rem;
        margin: 10px 0px 40px;
    }
    
    .user__logo {
        width: 100px;
    }

    .header__options {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 50%;
    }

    .header__options--items {
        display: flex;
        align-content: center;
        font-size: 1.3rem;
        padding: 15px 20px;

    }

    .icon {
        margin: 0px 10px 0 0;
    }

    .header__options--items:hover {
        background-color: var(--main-color-shadow);
        transition: .3s;
    }

    .account__info { 
        width: 70%;
        font-size: 1rem;
        text-align: center;
        padding: 10px;
        border-radius: 1rem;
        margin: 0 15%;
    }

    .report__link {
        display: inline-block;
        text-align: center;
        margin: auto;
        text-decoration: none;
        font-size: 0.7rem;
    }

    .options {
        box-sizing: content-box;
        display: flex;
        justify-content: space-between;
        padding: 10px;
        background-color: var(--main-color);
        width: 100%;
        height: 30px;
    }

    .options > p {
        font-size: 1.3rem;
    }

    .search__bar {
        display: inline-block;
        width: 20%;
    }

    search__bar:focus {
        outline: 0;
        border: 0;
    }

    .container__info {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .account__info {
        background-color: #0d6efd ;
    }

    .search__container {
        box-sizing: content-box;
        display: flex;
        text-align: center;
        position: relative;
        left: 20vw;
        bottom: 100vh;
        width: 80%;
        height: 4rem;
        background-color: var(--main-color);
    }

    .search__input {
        align-self: center;
        display: inline-block;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 1.2rem;
        color: var(--white);
        width: 60%;
        max-width: 880px;
        margin: 0 10% 0 10%;
        padding: 5px 20px;
        border-radius: 4px;
        background-color: #AAA;
    }

    .search__input::placeholder {
        text-align: center;
        color: var(--white);
    }

    .search__input:focus {
        outline: none;;
    }

    .global__mode {
        display: inline-block;
        width: 45px;
        height: 20px;
        margin-left: 20%;
        margin: auto;
        background-color: #EEE;
        border-radius: 8px;
        outline: 1px solid #AAA;
        box-sizing: border-box;
    }

    .global__mode-toggle1 {
        display: flex;
        justify-content: flex-end;
    }

    .global__mode-toggle2 {
        display: flex;
        justify-content: flex-start;
    }


    .mode__inicator {
        align-self: center;
        width: 50%;
        height: 20px;
        background-color: var(--main-color-shadow);
        border-radius: 8px;

    }

    .content {
        display: inline-block;
        position: relative;
        left: 20vw;
        bottom: 100vh;
        width: 80%;
        height: calc(100vh - 4rem);
        box-sizing: border-box;
        background-color: #EEE;
        border-radius: 1rem 0 0 0;
    }

    .content__hello {
        box-sizing: border-box;
        width: 100%;
        padding: 1rem;
        font-size: 1.5rem;
        font-family:  'Roboto';
        text-decoration: none;;
    }

    .content__files {
        box-sizing: border-box;
        width: 85%;
        margin: auto;
        height: 88%;
        padding: 4rem 2rem 2rem;
    }

    .table__head {
        width: 100%;
        margin: auto;
    }

    .table__item, .table__head--item {
        width: calc(100% / 5);
        border-right: 1px solid var(--black);
        text-align: center;
        padding: 0.8rem 0;
    }

    .table__head--item:last-child {
        border-right: none;
    }

    .table {
        width: 100%;
        margin: auto;
        /* border: 1px solid var(--black); */
    }

    .table__item {
        border-right: none;

    }


    .table_column:nth-child(odd) {
        background-color: var(--main-color);
    }

    .content__files--separator {
        margin: 0 0 .5rem;
        border-top: 1px solid var(--black);
    }

    .advice {
        font-size: 1.6rem;
        text-align: center;

    }

    .modal__context-menu {
        display: none;
        position: absolute;
        background-color: #f0f0f0;
        box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
        border-radius: 5px;
        z-index: 1000;
        padding: 1rem;
    }

    /* .footer {
        display: absolute;
        top: 0;
        width: 80%;
        height: 20px;
        background-color: #0d6efd;
    } */


}
