@media only screen and (orientation:landscape) {
   
    body {
        background-color: #48e;
    }

    * {
        padding: 0;
        border: 0;
        margin: 0;
    }

    body { 
        width: 100vw;
        height: 100vh;
    }

    .header__nav {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: 1fr;
        width: 100vw;
        height: 50px;

    }

   .header__nav-content1 {
        /* background-color: #AA8; */
        grid-column: 1 / 5;
    } 
    
    .header__nav-content2 {
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: repeat(12, 1fr);
        box-sizing: border-box;
        /* background-color: #43e; */
        grid-column: 5 / 13;
        
    }

    [alt="User Profile"] {
        width: 40px;
        background-color: #FFF;
        border-radius: 50%;
        padding: 2px;
        margin-right: 10px;
    }

    [alt="Notifications"] {
        width: 30px;
        background-color: #FFF;
        border-radius: 50%;
        margin-left: 30px;
    }

    #notificationsCenter {
        display: flex;
        grid-row: 1 / 2;
        grid-column: 11 / 13;
        justify-content: center;
        align-items: center;
    }

    #userProfile {
        display: flex;
        grid-row: 1 / 2;
        grid-column: 12 / 13;
        justify-content: right;
        align-items: center;
    }

    .searcher {
        /* background-color: #F56; */
        display: flex;
        justify-content: center;
        align-items: center;
        grid-row: 1 / 2;
        grid-column: 2 / 10;
    }

    .searchBox {
        box-sizing: border-box;
        width: 90%;
        height: 30px;
        padding: 2px 10px;
        border-radius: .3rem;
    }

    .searchBox:focus {
        outline:none
    }

    .main__content {
        background-color: #EEE;
        width: 99vw;
        height: calc(99vh - 50px);
        margin: auto;
        border-radius: 1rem 1rem .5rem .5rem;
    }
}
