* {
    margin:0;
    border: 0;
    padding: 0;
    outline: 0;
}

/* VLARIABLES ZONE */
:root {
    --blue-violet: #48e;
    --violet: #8E418E;
    --black: #000000;
    --white: #AFAFAF;
    --white-font: #CCC;
    --grey-black: #4A4A4A; 
}

/* MOBILE STYLE ZONE */

.header__content {
    display: grid;
    z-index: 30;
    padding: .4rem;
    background-color: var(--white);
    color: var(--grey-black);
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 3px;
}

.test__style {
    color: var(--blue-violet);
}

.list__items {
    display: none;
}

.logo__page {
    text-align: center;
    grid-column: 4 / 10;
}

.menu__section {
    grid-column: 12 / 13;
    background-color: var(--white);
    color: var(--grey-black)
}

.options {
    position: absolute;
    left: -40%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(12, 1fr);
    width: 40%;
    height: calc(100vh - 2rem);
    background-color: var(--white);
    z-index: 20;
    transition: left .8s ease-in-out;
    margin: -4px;
}

.image__account {
    grid-row: 2 / 3;
    width: 2rem;
    box-sizing: border-box;
    overflow: none;
    object-fit: contain;
    grid-row: 2 / 3;
}

[alt="Account"] {
    width: 4rem;
}

.image_account {
    width: 50%;
    margin: 1rem auto 0;
    text-align: center;
}

.options__items {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    grid-row: 4 / 9;
}

.options__items--bar {
    display: flex;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    padding: 1rem;
    border-radius: 0 3rem 3rem 0;
}

.options__items--bar:hover {
    background-color: #48e;
}


.main {
    position: absolute;
    top: 2rem;
    z-index: 10;
    width: 100%;
    height: calc(100vh - 2rem);
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    border: 1px solid #000000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    border-image: linear-gradient(to right, #ff0000, #00ff00); /* Utiliza el mismo degradado como borde */
    border-radius: 10px;
    background-color: #ffffff;
    padding: 20px;
    text-align: center;
    max-width: 300px;
    box-sizing: content-box;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    text-align: left;
    margin-bottom: 5px;
}

.input-group input {
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.forgot-password {
    text-align: center;
    margin: 10px 0 15px;
}

.forgot-password a {
    text-decoration: none;
    color: #007BFF;
}

.submit-btn {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
}

.submit-btn:hover {
    background-color: #0056b3;
}