* {
    margin:0;
    border: 0;
    padding: 0;
    outline: 0;
}

/* VLARIABLES ZONE */
:root {
    --blue-violet: #48e;
    --violet: #8E418E;
    --black: #000000;
    --white: #AFAFAF;
    --white-font: #CCC;
    --grey-black: #4A4A4A; 
}

/* MOBILE STYLE ZONE */

.header__content {
    display: grid;
    padding: .4rem;
    background-color: var(--white);
    color: var(--grey-black);
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 3px;
}

.test__style {
    color: var(--blue-violet);
}

.list__items {
    display: none;
}

.logo__page {
    text-align: center;
    grid-column: 4 / 10;
}

.menu__section {
    grid-column: 12 / 13;
    background-color: var(--white);
    color: var(--grey-black)
}

.image__account {
    width: 2rem;
    box-sizing: border-box;
    overflow: none;
    object-fit: contain;
}

[alt="Account"] {
    width: 2rem;
}

.options {
    
}

.options__items {

}