@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

* {
    margin:0;
    border: 0;
    padding: 0;
    outline: 0;
    /* font-family: 'Roboto', sans-serif; */
}

/* VLARIABLES ZONE */
:root {
    --blue-violet: #48e;
    --violet: #8E418E;
    --black: #000000;
    --white: #AFAFAF;
    --white-font: #CCC;
    --grey-black: #4A4A4A; 
    --bar-animation: left .5s linear;
    --font-family: 'Roboto', sans-serif;
}

body {
    min-height: 100vh;
}

/* MOBILE STYLE ZONE */

.header__content {
    display: grid;
    z-index: 30;
    padding: .4rem;
    background-color: var(--white);
    color: var(--grey-black);
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 3px;
}

.test__style {
    color: var(--blue-violet);
}

.list__items {
    display: none;
}

.logo__page {
    text-align: center;
    grid-column: 4 / 10;
}

.menu__section {
    grid-column: 12 / 13;
    background-color: var(--white);
    color: var(--grey-black)
}

.options {
    position: absolute;
    left: calc(-40% - 5px);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(12, 1fr);
    width: 40%;
    height: calc(100vh - 2rem);
    background-color: var(--white);
    z-index: 20;
    transition: var(--bar-animation);
    margin: -4px;
    padding: 5px;
}

.image__account {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    grid-row: 1 / 3;
  }
  
[alt="Account"] {
    width: 5rem;
    height: 5rem;
}


.options__items {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    grid-row: 3 / 7;
}

.options__items--bar {
    display: flex;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    padding: .5rem;
    border-radius: 0 3rem 3rem 0;
}

.options__items--bar:hover {
    background-color: #48e;
}


.main {
    position: absolute;
    top: 2rem;
    z-index: 10;
    width: 100%;
    height: calc(100vh - 2rem);
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    border: 1px solid #000000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    border-image: linear-gradient(to right, #ff0000, #00ff00); /* Utiliza el mismo degradado como borde */
    border-radius: 10px;
    background-color: #ffffff;
    padding: 20px;
    text-align: center;
    max-width: 300px;
    box-sizing: content-box;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    text-align: left;
    margin-bottom: 5px;
}

.input-group input {
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.forgot-password {
    text-align: center;
    margin: 10px 0 15px;
}

.forgot-password a {
    text-decoration: none;
    color: #007BFF;
}

.submit-btn {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
}

.submit-btn:hover {
    background-color: #0056b3;
    overflow: auto;
    box-sizing: border-box;
}

.container__items {
    width: 84%;
    margin: 0 8%;
    background-color: #EEE;
    height: 405px;
}


.container__task {
    display: inline-block;
    overflow: hidden;
    width: 100%;
    height: 80px;
    border-radius: 5px;
}

.container__line {
    display: inline-block;
    width: 5px;
    height: 80px;
    background-color: #48e;
}

.container__content {
    display: inline-block;
    width: calc(100% - 10px);
    height: 100%;
}

.information__content {
    display: inline-block;
    width: 80%;
    font-family: var(--font-family);
    justify-content: center;
}

.container__icon {
    display: inline-block;
    width: 18%;
}

.information__text {
    display: inline-block;
}

.text {
    text-align: center;
    vertical-align: center;
    height: 100%;
}

[alt="Folder"] {
    width: 3rem;
    padding: calc(64px - 3rem) 0 ;
}